table
{
border: 10px ;
padding-top: 1px;


}

.grey{
    background-color: darkgrey;

}
#yellow{
    background-color: darkgoldenrod;
   
    ;
}
#green{
    background-color: darkgreen;
    text-align: right;
    color: white;
}
#center{
    text-align: center;
}
img{
    width: 500px;
   margin: 20px;
}
td{
    background-color: aqua;
    
}

